

<h1> <%= @motorcycle.make %> </h1>
<h4> <%= @motorcycle.year %> <br> <%= @motorcycle.model %> </h4>

<p> <%= "#{@motorcycle.cc} cc's" %> <br> <%= @motorcycle.description %> </p>

<a href="<%= @motorcycle.url %>"> <%= @motorcycle.url %> </a> <br> <br>
<img src="<%= @motorcycle.image %>" height="400px"> </img> <br> <br>

<br> <br>

<a href="/" class="back"> Back to All Motorcycles </a>
