<h1><%= @restaurant.name %></h1>
<h4><%= @restaurant.address %></h4>

<p><%= @restaurant.description %></p>

<a href="<%= @restaurant.url %>"><%= @restaurant.url %></a><br><br>
<img src="<%= @restaurant.image %>" height="400px"></img><br><br>

<br><br>

<a class="back" href="/">Back to All Brunch Spots</a>
